
html, body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4 {
  font-family: serif;
  font-weight: bold;
  color: #234764;
  margin-top: 20px;
  margin-bottom: 8px;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 110%;
}

h3, h4 {
  font-size: 100%;
}

ul.news {
  list-style-type: none;
}

ul.news li {
  padding-bottom: 8px;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 0.8em;
}

.docset th {
  font-size: 85%;
  padding: 2px;
  background-color: #e6e6e6;
}

.docset td {
  padding: 8px;
}

.docset td.docfn {
  font-family: monospace
}

#nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-left: 30px;
  padding: 8px;
}

#nav ul li {
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #e6e6e6;
}

#nav a {
  text-decoration: none;
  color: #234764;
}

#nav a.hover {
  text-decoration: underline;
}

#content {
  line-height: 1.4em;
  margin: 20px;
  margin-left: 40px;
  max-width: 800px;
}

